# 过滤 node 依赖工具
/node_modules

# 过滤 svn 文件
.svn

# 过滤 sass 编译生成的临时文件
/.sass-cache

# 过滤 项目 编译生成的临时文件
/dist
/dev/_concat*
/dev/mixin.css
/dev/mixin.scss
/dev/concat

/app/libs


# app 目录忽略相关文件
/app/public/style/mixin.scss
