// ========================================================
// content 内容UI生成器
// ========================================================

@mixin content($class: content, $prefix: $config-prefix) {
    @include scroll($class, $prefix) {
        position: absolute;
        top: 0; right: 0;
        left: 0; bottom: 0;
        background-color: $content-back;

        &.padding > *:first-child {
            padding: rem($content-padding);
        }

        &.has-header {
            top: rem($content-head-size);
        }

        &.has-footer {
            bottom: rem($content-foot-size);
        }

        &.native {
            height: auto;
            overflow-x: hidden;
            overflow-y: scroll;

            .#{$prefix+$class}_body {
                touch-action: auto;
            }
        }

        @content;
    };
}
