// ========================================================
// view 样式生成器
// ========================================================

%full_screen {
    position: absolute;
    display: block;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: #FFF;
}

@mixin app-wrap($class: app-wrap, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        @extend %full_screen;
        z-index: 100;
        @content;
    }
}

@mixin app-header($class: app-header, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        display: block;
        overflow: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 400;
        height: rem($block-header-height);

        >[class^=#{$prefix+bar}] {
            position: absolute;
            top: 0;
            left: 0;
        }
        @content;
    }
}

@mixin app-navbar($class: app-navbar, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        overflow: hidden;
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 400;
        height: rem($block-footer-height);
        @content;
    }
}

@mixin viewAnimate() {
    &.MGslideInLeft {
        @include animate(slideInLeft, 0.2s, cubic-bezier(0.33, 0.66, 0.66, 1));
    }

    &.MGslideInRight {
        @include animate(slideInRight, 0.2s, cubic-bezier(0.33, 0.66, 0.66, 1));
    }

    &.MGslideOutLeft {
        @include animate(slideOutLeft, 0.2s, cubic-bezier(0.33, 0.66, 0.66, 1));
    }

    &.MGslideOutRight {
        @include animate(slideOutRight, 0.2s, cubic-bezier(0.33, 0.66, 0.66, 1));
    }
}

@mixin view($class: view, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        @extend %full_screen;
        z-index: 100;

        &.hidden {
            z-index: 50;
            display: none;
        }

        &.animate {
            z-index: 100;
        }

        &.display {
            z-index: 200;
        }
        @content;
        // 样式自定义扩展代码位置
    }
}

@mixin page($class: page, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        display: block;
        z-index: 10;
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
        background-color: #fff;

        &.full {
            @extend %full_screen;
        }
        @content;
        // 样式自定义扩展代码位置
    }
}

@mixin loader($class: loader, $prefix: $config-prefix) {
    .#{$prefix+$class} {
        @extend %full_screen;
        z-index: 100;

        &.hidden {
            @include animate(fadeOut, 0.16s);
        }
        @content;
        // 样式自定义扩展代码位置
    }
}
