/*========================================================
 * 全局默认层级值
 *=======================================================*/


$zindex-element:                1 !default;
$zindex-module:                 3 !default;
$zindex-module-item:            4 !default;
$zindex-view:                   5 !default;
$zindex-bar:                    6 !default;