/*========================================================
 * 全局共用变量
 *=======================================================*/


$padding-base:                      6px !default;
$padding-item-inset:                12px !default;
$padding-large:                     10px !default;


$margin-base:                       10px !default;
$margin-block:                      20px !default;
$margin-large:                      20px !default;


$border-default-color:              #b2b2b2 !default
$border-default:                    1px solid $border-default-color !default;


$border-radius-base:                4px !default;
$border-radius-large:               6px !default;
$border-radius-small:               3px !default;


$active-opacity:                    .3 !default;